body{
background-color: black;
header{
    position: absolute;

    background-color: darkgreen;
    color: white;
    right: 0px;
    padding-left: 1000px;
padding-right: 600px;
height: 180px;
top: -10px;
display: flex;

img{
position: absolute;
left: 150px;
top: 20px;
display: flex ;
}

h1{
position: absolute;
top: 40px;
font-size: 40px;
right: 150px;
display: flex;
}



}

#d1{
    display: flex;
position: absolute;
background-color: grey;
width: 25%;
height: 810px;
top: 170px;
left: 0px;


a{
display: flex;
    font-size: 40px;
    text-decoration: none;
    color: white;
}

#a1{
position: absolute;
top: 200px;
left: 140px;
display: flex;

}
#a2{
    position: absolute;
    top: 400px;
    left: 60px;
    display: flex;
    
    }
    #a3{
        position: absolute;
        top: 600px;
        left: 140px;
        display: flex;
        
        }    


}




footer{

position: absolute;
background-color: darkgreen;
font-size: 30px;
color: white;
bottom: 0px;
right: 0px;
width: 100%;
display: flex;

p{
padding-left: 600px;
display: flex;
}

}
}

